
<section class="hero">
    <div class="hero-content">
        <h1>Navigating the  digital landscape for success</h1>

        <p>Our digital marketing agency helps businesses grow and succeed online through a range of 
        services including SEO, PPC, social media marketing, and content creation.</p>

        <button class="button-hero">Book a consultation</button>
    </div>

    <div class="hero-image">
        <img class="image-hero" src="assets/Images/Illustration.png" alt="marketing-image">
    </div>
</section>

<div class="hero-brands">
    <img src="assets/companys_logo/Company=Amazon.png" alt="">
    <img src="assets/companys_logo/Company=Codecademy.png" alt="">
    <img src="assets/companys_logo/Company=Dribbble.png" alt="">
    <img src="assets/companys_logo/Company=Netflix.png" alt="">
    <img src="assets/companys_logo/Company=Notion.png" alt="">
    <img src="assets/companys_logo/Company=PayPal.png" alt="">
</div>

<div class="hero-services">
    <h1>Services</h1>
    <p>At our digital marketing agency, we offer a range of services to
     help businesses grow and succeed online. These services include:</p>
</div>

<app-services></app-services>